## Desafío 1

#### Grupo
 Juan Manuel, Rafael, Diego Cabrera
#### Objetivos:
-  Efectuar una limpieza del dataset provisto. Particularmente, deberá diseñar estrategias para lidiar con los datos perdidos en ciertas variables.
-  Realizar un análisis descriptivo de las principales variables.
-  Crear nuevas columnas a partir de las características dadas que puedan tener valor predictivo.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/properatti.csv.gz', compression='gzip', header=0)

In [ ]:
df.describe()

In [ ]:
#Copia de DF original
df_bkp = df

In [ ]:
#Print columns
df.describe('')

In [ ]:
df.dtypes

####  Limpieza del dataset
   - a. Listado de columnas a eliminar. Armar funcion
   - b. Si hiciera falta, renombrar columnas para que sean mas representativas 
   
####  Analisis descriptivo
   - a. 
####  Nuevas columnas y valores predictivos
   - a. Armar fnc para crear automaticamente columnas para usar de flag para saber si se tocan datos
   - b.

In [ ]:
df['price'].describe()

In [ ]:
df.count()

In [ ]:
#FUNCIONES 

#1. Elimina columnas
def drop_columns(df, serie):
    #print ('Eliminando columna/s ' + serie )
    df = df.drop(columns=serie,axis=1)
    return df
#2. Crea columnas "flag"
def make_flags(df, cols):
    col = {c: [add_flag(df, str(c))]
            for c in cols}

def add_flag(df, column): 
       # Creamos el nombre de la columna FLAG
    new_col = column + '_flag'
    # Creamos la columna con los valor 1 si la columna original tiene el registro null; sino, valor 0
    df[new_col] = df[column].isnull().astype(np.int8)
    print ('Columna ' + new_col +' creada' )

#3. Renombra columna
def rename_columns(df, cols):
    df = df.rename(cols, axis='columns')
    return df
    
#4. Elimina caracteres non-ascii   
def _removeNonAscii(s): return "".join(i for i in s if ord(i)<128)

#5. Calcula promedio por lugar/zona
def get_mean (state, nplace):
    global cnt_success
    global cnt_error
    try:
        cnt_success+= 1;
        if (CALCULAR_PRECIO_MT2_MEDIA_SIN_OUTLIERS):
            mn = df_price_per_m2_wo_outliers.loc[state, nplace]['mean']
        else:
            mn = df_price_per_m2.loc[state, nplace]['mean']
        return mn
    except Exception:
        #print 'error'
        #print('Error en ' +str(nplace))
        cnt_error+= 1;
        pass
        return np.nan

#6. calcula_ambientes en base a los mts2
def calcula_ambientes_xmt2 (mts):
    try:
       val = int(mts)
    except ValueError:
        return np.nan; #print("That's not an int!. Value: " + str(mts))
    val;

    if val <40:
       return 1;
    elif val <60:
       return 2;
    elif  val <80:
       return 3;
    elif  val <100:
       return 4;
    elif  val <120:
       return 5;
    elif  val >120:
       return 6;
    else:
       return np.nan;
# 7. calcula_mts2_xambientes
def calcula_mts2_xambientes (mts):
    try:
       val = int(mts)
    except ValueError:
        return np.nan; #print("That's not an int!. Value: " + str(mts))
    val;

    if val == 1:
       return 40;
    elif val == 2:
       return 60;
    elif  val == 3:
       return 80;
    elif  val == 4:
       return 100;
    elif  val == 5:
       return 120;
    elif  val >5:
       return 150;
    else:
       return np.nan;

#8. Calcula numero de ambientes en base a string 
def uno():
    return 1
def un():
    return 1
def dos():
    return 2
def tres():
    return 3
def cuatro():
    return 4
def cinco():
    return 5
def seis():
    return 6
def siete():
    return 7

switcher = {
        'un': uno,
        'uno': uno,
        'tres': tres,
        'cuatro': cuatro,
        'cinco': cinco,
        'seis': seis,
        'siete': siete
    }

def strings_to_number(argument,subfnc):
     try:
        str(argument)
        if argument <> 'nan':
            print 'pricessing ' + argument
    # Get the function from switcher dictionary
        func = switcher.get(argument,  lambda: np.nan)
    # Execute the function
        numb = func()
        if (subfnc == 'dorm'): # & (numb.is_integer()):
            numb = numb + 1  #Le sumo 1: 2 dormitorios = 3 ambientes
        return numb
     except ValueError:
        return np.nan; #print("That's not an int!. Value: " + str(mts))

#9. Agrega columnas
def make_columns(df, cols):
    col = {c: [make_col(df, str(c))]
            for c in cols}

def make_col(df, column): 
       # Creamos el nombre de la columna FLAG
    new_col = column + '_flag'
    # Creamos la columna con los valor 1 si la columna original tiene el registro null; sino, valor 0
    df[new_col] = df[column].isnull().astype(np.int8)
    print ('Columna ' + new_col +' creada' )

In [ ]:
# Variables GLobals
#Columnas a eliminar:
    #price, price_aprox_local_currency y currency: Tomamos en cuenta solo el valor en dolares (columna price_aprox_usd)
    #price_per_m2: Tomamos en cuenta solo el valor de price_usd_per_m2
COLUMNAS_A_ELIMINAR=["Unnamed: 0","lat-lon","currency","price_per_m2","price_aprox_local_currency","price","properati_url","title","image_thumbnail","expenses"];
#Columnas en las que llenaremos datos faltantes. ENtonces, creamos  columna que usaremos de flag para registrar los datos que tocamos
COLUMNAS_FLAG=['price','rooms','place']
#COlumnas a renombrar
COLUMNAS_A_RENOMBRAR={'price_aprox_usd':'price','place_name':'place','price_usd_per_m2':'price_per_m2'}
#Utilizado en fnc get_mean
cnt_success = 0
cnt_error = 0
#CALCULAR_MEDIA_SIN_OUTLIERS: Si lo definimos en true, se calculara la media del precio xmt2 por zonas SIN outliers 
CALCULAR_PRECIO_MT2_MEDIA_SIN_OUTLIERS=True

In [ ]:
#Elimino columnas
df = drop_columns(df, COLUMNAS_A_ELIMINAR)
#Renombro columnas
df = rename_columns(df, COLUMNAS_A_RENOMBRAR)

In [ ]:
#Creo nuevas columnas "flag"
make_flags(df,COLUMNAS_FLAG)

In [ ]:
#Valores nulos por columna
df.isnull().sum().sort_values()

Total registros: 121220

Valores necesarios: 

- place_name 

Barrio/3 nivel de ubicacion; 1er y 2do nivel está completo (country_name/state_name). Tenemos completo -place_with_parent_names, de ahi se puede extraer el 3er nivel
- surface_total_in_m2
- price
- price_per_m2
- rooms

# PLACE NAME

In [ ]:
df["place"].isnull().value_counts()

In [ ]:
#Verifico la 3 columna de place_with_parent_names
df[df["place"].isnull()]["place_with_parent_names"].str.split('|').str[3].value_counts()

In [ ]:
#Cargo los datos de place_name y elimino la columna place_with_parent_names
df["place"] = df["place_with_parent_names"].apply(lambda place_with_parent_names: place_with_parent_names.split('|')[3] if (place_with_parent_names.split('|')[3]) else (place_with_parent_names.split('|')[2]))
#Elimino place_with_parent_names
df = drop_columns(df, "place_with_parent_names")

In [ ]:
df['place'].value_counts().head(10)

In [ ]:
#Valores nulos por columna
df.isnull().sum().sort_values()

# Rooms

Para los casos donde no tenemos el valor "rooms", intentaremos sacar informacion de la columna descripcion. Creamos una nueva columna como flag para indicar si rooms no estaba cargado

In [ ]:
regexp="(\d+)(\s|())amb"
#a. Rooms null y en description aparece N amb*, pongo N como valor en rooms
df.loc[df['rooms'].isnull(),'rooms'] = df.loc[(df["rooms"].isnull()),"description"].str.lower().str.extract(regexp)[0]

#b. en la descripcion aparece "monoambiente" o "mono" y rooms es null, pongo 1
df.loc[((df['rooms'].isnull()) & (df['description'].str.lower().str.contains('monoambiente')) | df['description'].str.lower().str.contains('mono')),'rooms'] = 1

#c. x Dormitorios SUMAR 1
regexp="(\d+)(\s|())dorm"
df.loc[df['rooms'].isnull(),'rooms'] = (df.loc[(df["rooms"].isnull()),"description"].str.lower().str.extract(regexp)[0])

In [ ]:
df['description'][915]#1

In [ ]:
#Revisamos el valor "surface_covered_in_m2" para estimar los ambientes. 

df.loc[df["rooms"].isnull() & df["surface_covered_in_m2"].notnull(),"rooms"] =  \
df.loc[df["rooms"].isnull() & df["surface_covered_in_m2"].notnull(),"surface_covered_in_m2"].apply(lambda surface_covered_in_m2: calcula_ambientes_xmt2(surface_covered_in_m2))

#Sino, nos basamos en el valor "surface_total_in_m2" para estimar los ambientes. 

df.loc[df["rooms"].isnull() & df["surface_covered_in_m2"].isnull() & df["surface_total_in_m2"].notnull() ,"rooms"] =  \
df.loc[df["rooms"].isnull() & df["surface_covered_in_m2"].isnull() & df["surface_total_in_m2"].notnull() ,"surface_total_in_m2"] .apply(lambda surface_total_in_m2: calcula_ambientes_xmt2(surface_total_in_m2))

In [ ]:
# Calculo cantidad de rooms en base al string. Ej. "dos ambientes"
# no especifica cantidad de dormitorios:
regexp="(\w+) amb"

#df.loc[df["rooms"].isnull(),"description"].str.lower().str.extract(regexp)[0]

df.loc[df["rooms"].isnull(),"rooms"] =  \
df.loc[df["rooms"].isnull(),"description"].str.lower().str.extract(regexp)[0].apply(lambda description: strings_to_number(str(description),'amb'))
#Mismo caso, pero esta vez en base a dormitorios. Ej. "un dormitorio" = 2 ambientes
regexp="(\w+) dorm"

#df.loc[df["rooms"].isnull(),"description"].str.lower().str.extract(regexp)[0]

df.loc[df["rooms"].isnull(),"rooms"] =  \
df.loc[df["rooms"].isnull(),"description"].str.lower().str.extract(regexp)[0].apply(lambda description: strings_to_number(str(description),'dorm'))

In [ ]:
df.loc[915]

# Price

1. Price null pero tengo surface_in_m2 y price_per_m2 entonces calculo precio
2. Calculo precio promedio por state_name/place
3. Si no tengo price ni price_per_m2 pero si surface_in_m2, entonces calculo price en base al promedio por place

In [ ]:
#Price null pero tengo surface_in_m2 y price_per_m2 entonces calculo precio
df.loc[df['price'].isnull() & df["surface_total_in_m2"].notnull() & df["surface_total_in_m2"].notnull(),"price"] =  \
df.loc[df['price'].isnull() & df["surface_total_in_m2"].notnull() & df["price_per_m2"].notnull()].apply(lambda row: row.surface_total_in_m2 * row.price_per_m2, axis=1)

In [ ]:
df.loc[df['price'].isnull()]

In [ ]:

#Verifico outliers de surface_total_in_m2 y price_per_m2
plt.scatter(x=df['surface_total_in_m2'], y=df['price_per_m2'])

In [ ]:
#estadisticas de price_per_m2
df['price_per_m2'].agg(['min', 'max','mean','median','size','std','quantile'])

In [ ]:
df['price_per_m2'].describe()

In [ ]:
df['price_per_m2'].quantile([.25, .5, .75])

In [ ]:
# Obtengo los outliers para el lugar y tipo de propiedad
mean = df['price_per_m2'].mean()
std = df['price_per_m2'].std()

price_per_m2_outliers =  \
df.loc[(np.abs(df['price_per_m2'] - mean) > 3 * std)] # Que esten por encima o debajo de 3 desviaciones std.

q1 = df['price_per_m2'].quantile(.25)
q2 = df['price_per_m2'].quantile(.5)
q3 = df['price_per_m2'].quantile(.75)
ric = q3 - q1


price_per_m2_outliers_q =  \
df.loc[(df['price_per_m2'] > (df['price_per_m2'].quantile(.75) + (1.5 * ric)))] # Que esten por encima o debajo de 3 desviaciones std.


price_per_m2_outliers_q

#price_per_m2_outliers

#plt.scatter(x=price_per_m2_outliers['surface_total_in_m2'], y=price_per_m2_outliers['price_per_m2'])

In [ ]:
price_per_m2_outliers_q.describe()

In [ ]:
price_per_m2_outliers.describe()

In [ ]:
# usar nueva columna
#Elimino caracteres non ascii de place
df.loc[df['place'].notnull(),'place'] = df.loc[df['place'].notnull(),'place'].apply(lambda place: _removeNonAscii(place.lower()))
#Elimino caracteres non ascii de state_name
df.loc[df['state_name'].notnull(),'state_name'] = df.loc[df['state_name'].notnull(),'state_name'].apply(lambda state_name: _removeNonAscii(state_name.lower()))

In [ ]:
#Dataframe original
plt.scatter(x=df_bkp['surface_total_in_m2'], y=df_bkp['price_per_m2'])

In [ ]:
#Dataframe original sin outliers (aplicando desviacion estandar):
df_wo_outliers = df.drop(price_per_m2_outliers.index)
plt.scatter(x=df_wo_outliers['surface_total_in_m2'], y=df_wo_outliers['price_per_m2'])

In [ ]:
#Dataframe original sin outliers teniendo en cuenta rangos intercuartil
df_wo_outliers_2 = df.drop(price_per_m2_outliers_q.index)
plt.scatter(x=df_wo_outliers_2['surface_total_in_m2'], y=df_wo_outliers_2['price_per_m2'])

In [ ]:
#Dataframe sin outliers de price_per_m2 con el metodo (np.abs(df['price_per_m2'] - mean) > 3 * std)
df_wo_outliers_2.describe()

In [ ]:
#Dataframe sin outliers de price_per_m2 teniendo en cuenta rangos intercuartil
df_wo_outliers.describe()

In [ ]:
#Creo df con estadisticas por lugar utilizando el DF sin outliers y otro con outliers, para compararlos

df_price_per_m2 = df[df['price_per_m2'].notnull()].groupby(['state_name','place']).agg(['min', 'max','mean','median','size','std'])['price_per_m2']


df_price_per_m2_wo_outliers = df_wo_outliers_2[df_wo_outliers_2['price_per_m2'].notnull()].groupby(['state_name','place']).agg(['min', 'max','mean','median','size','std'])['price_per_m2']

In [ ]:
df[df['price'].isnull()].groupby('place').size().sort_values(ascending=False).head(10)

In [ ]:
#Medidas de tendencia central agrupado por estado y ciudad con outliers
df_price_per_m2.sort_values('mean',ascending=False ).head()

In [ ]:
#Medidas de tendencia central agrupado por estado y ciudad SIN outliers
df_price_per_m2_wo_outliers.sort_values('mean',ascending=False ).head()

In [ ]:
sns.distplot(df.loc[(df['place'] == 'general san martn') & (df['price_per_m2'].notnull()),'price_per_m2'])

In [ ]:
#
sns.distplot(df_wo_outliers.loc[(df_wo_outliers['place'] == 'general san martn') & (df_wo_outliers['price_per_m2'].notnull()),'price_per_m2'])

In [ ]:
#distplot std
sns.distplot(df_price_per_m2.loc[(df_price_per_m2['std'].notnull()),'std'])

In [ ]:
#distplot std
sns.distplot(df_price_per_m2_wo_outliers.loc[(df_price_per_m2_wo_outliers['std'].notnull()),'std'])

In [ ]:
#Correlacion entre surface_total_in_m2 y precio
df[['surface_total_in_m2','price']].corr()

In [ ]:
#Correlacion entre surface_total_in_m2 y precio sin outliers
df_wo_outliers[['surface_total_in_m2','price']].corr()

In [ ]:
#Calculo el precio por m2 en base a la media por ciudad 
df.loc[df["price_per_m2"].isnull(),'price_per_m2'] =  \
df.loc[df['price_per_m2'].isnull()].apply(lambda row: get_mean(row.state_name, row.place), axis=1)


print 'Successfully: '  + str(cnt_success)
print 'Errors: ' + str(cnt_error)

In [ ]:
df.loc[df['price_per_m2'].isnull()]

In [ ]:
df_price_per_m2.loc['santa fe',]['mean'].sort_values()
#df_price_per_m2_wo_outliers.loc['santa fe',]['mean'].sort_values()

In [ ]:
df[df['price_per_m2'].isnull()]

In [ ]:
df.loc[df['price'].isnull()]

In [ ]:
#Calculo surface_covered_in_m2 y/o surface_total_in_m2 en base a la descripcion
regexp="(\d+)(\s|())mts(..)cub|(\d+)(\s|())mts(.)cub|(\d+)(\s|())metros cub"
#surface_covered_in_m2
df.loc[df['surface_covered_in_m2'].isnull() & df["description"].notnull() & df["price"].isnull(),'surface_covered_in_m2'] =  \
df.loc[df['surface_covered_in_m2'].isnull() & df["description"].notnull() & df["price"].isnull(),'description'].str.lower().str.extract(regexp)[0]
regexp="(\d+)(\s|())mts(..)cub|(\d+)(\s|())mts(.)cub|(\d+)(\s|())metros cub"
#surface_total_in_m2: surface_covered_in_m2 y surface_total_in_m2 Null
regexp="(\d+)(\s|())mts|(\d+)(\s|())metros"
df.loc[df['surface_total_in_m2'].isnull() & df['surface_covered_in_m2'].isnull() & df["description"].notnull() & df["price"].isnull(),'surface_total_in_m2'] =  \
df.loc[df['surface_total_in_m2'].isnull() & df['surface_covered_in_m2'].isnull() & df["description"].notnull() & df["price"].isnull(),'description'].str.lower().str.extract(regexp)[0]

In [ ]:
#Valido por ejemplo esperanza santa fe, no tiene estadisticas
df.loc[df['place'] == 'bella italia'].groupby(['state_name','place']).agg(['min', 'max','mean','size','std'])['price_per_m2']

In [ ]:
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_total_in_m2'].notnull()]

In [ ]:
#Tengo price_per_m2 y surface_total_in_m2 pero no precio entonces calculo precio
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_total_in_m2'].notnull(), 'price'] =  \
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_total_in_m2'].notnull()].apply(lambda row: (np.int(row.price_per_m2) * np.int(row.surface_total_in_m2)), axis=1)

In [ ]:
#Tengo price_per_m2 y surface_covered_in_m2 pero no precio entonces calculo precio
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_covered_in_m2'].notnull(), 'price'] = \
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_covered_in_m2'].notnull()].apply(lambda row: (np.int(row.price_per_m2) * np.int(row.surface_covered_in_m2)), axis=1)

In [ ]:
#Cantidad de precios calculados hasta el momento
print 'Price:'
df[df['price_flag'] == 1]['price_flag'].sum() - df['price'].isnull().sum()

In [ ]:
print 'Rooms:'
df[df['rooms_flag'] == 1]['rooms_flag'].sum() - df['rooms'].isnull().sum()

In [ ]:
df.loc[(df['price'].isnull()) & (df['place'] == 'rosario')].sort_values(['state_name','place'],ascending=False)

In [ ]:
#Cantidad de precios faltantes por lugar
df[df['price'].isnull()].groupby('place').size().sort_values(ascending=False)#.head(15)

In [ ]:
#Cantidad de precios faltantes por lugar
df[df['price_flag'] == 1].groupby('place').size().sort_values(ascending=False)#.sum()

In [ ]:
#tengo ambiente y price_per_m2 y no tengo precio ni surface_covered_in_m2
#entonces estimo surface_covered_in_m2 en base a los ambientes y luego calculo precio

#df[df['price_per_m2'].notnull() & df['rooms'].notnull() & df['price'].isnull() & df['surface_covered_in_m2'].isnull()]['price_per_m2']

df.loc[df["price_per_m2"].notnull() & df["rooms"].notnull() & df['price'].isnull() & df['surface_covered_in_m2'].isnull(),"surface_covered_in_m2"] =  \
df.loc[df["price_per_m2"].notnull() & df["rooms"].notnull() & df['price'].isnull() & df['surface_covered_in_m2'].isnull(),"rooms"].apply(lambda rooms: calcula_mts2_xambientes(rooms))

In [ ]:
#Vuelvo a ejecutar 'Tengo price_per_m2 y surface_covered_in_m2 pero no precio entonces calculo precio'
#Tengo price_per_m2 y surface_total_in_m2 pero no precio entonces calculo precio
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_total_in_m2'].notnull(), 'price'] =  \
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_total_in_m2'].notnull()].apply(lambda row: (np.int(row.price_per_m2) * np.int(row.surface_total_in_m2)), axis=1)

#Tengo price_per_m2 y surface_covered_in_m2 pero no precio entonces calculo precio
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_covered_in_m2'].notnull(), 'price'] = \
df.loc[df['price'].isnull() & df['price_per_m2'].notnull() & df['surface_covered_in_m2'].notnull()].apply(lambda row: (np.int(row.price_per_m2) * np.int(row.surface_covered_in_m2)), axis=1)

In [ ]:
#PUEDEN HABER precio x mtr pero no precio

df.loc[df['price'].isnull() & df['surface_covered_in_m2'].notnull()]

In [ ]:
df.describe()

In [ ]:
#Valores nulos por columna
df.isnull().sum().sort_values()

In [ ]:
df['cochera'] = 0
df['pileta'] = 0

In [ ]:
#b. en la descripcion aparece "monoambiente" o "mono" y rooms es null, pongo 1
df.loc[((df['description'].notnull()) & (df['description'].str.lower().str.contains('coch')) | (df['description'].str.lower().str.contains('coch.'))),'cochera'] = 1
df.loc[((df['description'].notnull()) & (df['description'].str.lower().str.contains('pile')) | (df['description'].str.lower().str.contains('pil.')) | (df['description'].str.lower().str.contains('pisc'))),'pileta'] = 1

In [ ]:
df["cochera"].value_counts()

In [ ]:
df["pileta"].value_counts()

In [ ]:
df

In [ ]:
#Valores nulos por columna
df.isnull().sum().sort_values()

In [ ]:
#Guardo nuevo archivo con todo lo realizado en el desafio1
df.to_csv('data/properatti_desafio1.csv.gz', compression='gzip')

## Desafío 2

#### Grupo
 Juan Manuel, Rafael, Diego Cabrera


#### Objetivos:
-  Estimar un modelo de regresión lineal para hacer predicciones para el precio
de las propiedades. ¿Modelará el precio total o el precio por metro cuadrado?
-  Usar cross-validation para validar el modelo.
-  Quizá le sea útil prestar cierta atención a la estructura espacial de los precios
a la hora de construir sus features.
-  Aplicar regularización a modelos lineales. La idea es la siguiente: estimar una
regresión Ridge, una Lasso y una Elastic Net sobre el dataset. Para ello
deberán usar cross-validation para tunear el hiper parámetro de
regularización.
-  ¿Cómo son las performances entre los modelos regularizados y no
regularizado? ¿Cuál funciona mejor? ¿Qué “hace” una regresión Ridge? ¿Y
una Lasso? ¿Qué hace Elastic Net? ¿Qué diferencias hay con la regresión
lineal sin regularizar?
-  Seleccionar mediante muestreo aleatorio simple una submuestra de 100
propiedades. Este será su portafolio de propiedades. En base al mejor
modelo que haya encontrado determine cuáles de las propiedades, tanto en
su portafolio como fuera de él, se encuentran sobrevaluados o subvaluados.
¿Cómo compararía el grado de subvaluación o sobrevaluación entre dos
propiedades con precios distintos?
-  Teniendo en cuenta que podría comprar y vender propiedades al precio de
mercado,asumamos que no hay costos de transacción ni de comprar ni de
vender con un capital inicial igual al valor de mercado de las propiedades en
su portafolio. ¿Cuál propiedades vendería y cuáles compraría? Piense que
busca arbitrar entre estas propiedades “caras” y “baratas”.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('data/properatti_desafio1.csv.gz', compression='gzip', header=0)

## Columnas Dummies
Convertimos las columnas categórias a columnas Dummy.

Utilizamos las columnas PLACES y PROPERTY_TYPES

In [4]:
dummies_places = pd.get_dummies(df['state_name'] + df['place'], drop_first=True, prefix='places')
dummies_prop_types = pd.get_dummies(df['property_type'], drop_first=True, prefix='property_type')
df_with_dummy = df[['price','price_per_m2','cochera','pileta']].join(dummies_places).join(dummies_prop_types)
df_with_dummy

,price,price_per_m2,cochera,pileta,places_bs.as. g.b.a. zona norteescobar,places_bs.as. g.b.a. zona nortegeneral san martn,places_bs.as. g.b.a. zona nortejos c paz,places_bs.as. g.b.a. zona nortemalvinas argentinas,places_bs.as. g.b.a. zona nortepilar,places_bs.as. g.b.a. zona nortesan fernando,...,places_tucumnlules,places_tucumnsan miguel de tucumn,places_tucumntaf del valle,places_tucumntaf viejo,places_tucumntucumn,places_tucumnvilla belgrano,places_tucumnyerba buena,property_type_apartment,property_type_house,property_type_store
0,62000.00,1127.272727,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,150000.00,1494.113105,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,72000.00,1309.090909,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,95000.00,1803.908335,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,64000.00,1828.571429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,NaN,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,130000.00,1226.415094,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,138000.00,3066.666667,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,195000.00,3000.000000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,25798.49,1637.773679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,70000.00,46.235139,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11,150000.00,1163.678938,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,115000.00,2948.717949,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,111700.00,2234.000000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,147900.00,3521.428571,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,250000.00,1524.390244,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,239000.00,1707.142857,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,315000.00,1789.772727,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,570000.00,2111.111111,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,350000.00,3365.384615,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,39516.00,267.864769,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,270500.00,2292.372881,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,290000.00,1450.000000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,82000.00,1708.333333,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
24,355000.00,2218.750000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,358550.00,2240.937500,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,265000.00,1152.173913,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,650000.00,1529.411765,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
28,362150.00,2263.437500,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,75000.00,1744.186047,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121190,152211.09,1522.110900,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121191,83116.00,1662.320000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121192,83116.00,1662.320000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121193,104259.55,766.614338,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121194,83396.42,1667.928400,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121195,83396.42,1667.928400,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121196,83957.26,1614.562692,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121197,83957.26,1679.145200,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121198,83676.84,1673.536800,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121199,84237.68,1619.955385,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121200,84013.34,1680.266800,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121201,84013.34,1680.266800,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121202,84518.10,1625.348077,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121203,84237.68,1684.753600,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121204,84237.68,1684.753600,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121205,84518.10,1690.362000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121206,84518.10,1690.362000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121207,191528.00,1076.058556,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
121208,191528.00,1076.058556,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
121209,410000.00,2611.464968,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121210,243240.00,2027.215082,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
121211,415535.00,2027.215082,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121212,851340.00,2027.215082,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
121213,1216200.00,2027.215082,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
121214,249321.00,2027.215082,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
121215,870000.00,7699.115044,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121216,498000.00,1383.333333,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
121217,131500.00,2858.695652,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121218,95900.00,1997.916667,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
121219,129000.00,1675.324675,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Normalizamos los X con MinMax

In [ ]:
from sklearn.preprocessing import scale
from sklearn.preprocessing import scale

minmaxscaler_model = MinMaxScaler()

## Ridge

## Regrecion lineal

## Lasso

## Elastic Net